# Factory configuration
#
# Define some standard places and compilation options
# You can always override compilation parameters inside 
# the blueprints.


# This variable defines where all files will be stored
# this includes, source code, binaries, and configuration
FACTORY_PREFIX="${HOME}/.local"

# Where the binaries will be installe
FACTORY_BINDIR="${FACTORY_PREFIX}/bin"

# Where all conf lies
FACTORY_CONFDIR="${FACTORY_PREFIX}/etc/factory.d"

# Where to store the sources
FACTORY_SRCDIR="${FACTORY_PREFIX}/src"

# Global Compilation flags
FACTORY_CFLAGS+=(-O3)
FACTORY_CFLAGS+=(-ffast-math)
FACTORY_CFLAGS+=(-march=native)
FACTORY_CFLAGS+=(-I${FACTORY_PREFIX}/include)

# Global Linker flags
FACTORY_LDFLAGS+=(-L${FACTORY_PREFIX}/lib)

# Global libaries to load
# FACTORY_LIBS+=()

# Global CPP FLags
FACTORY_CPPFLAGS+=(-I${FACTORY_PREFIX}/include)

FACTORY_MAKEFLAGS+=(-j2)

